[Desktop Entry]
Name=Запустить Saints Row The Third
Exec="/home/flekgekei/Games/Saints Row The Third/SaintsRowTheThird_DX11.exe"
Type=Application
StartupNotify=true
Path="/home/flekgekei/Games/Saints Row The Third"
Icon=C271_.0
StartupWMClass=saintsrowthethird.exe\
Name[ru_RU]=Saints Row The Third
Terminal=false
