[Desktop Entry]
Encoding=UTF-8
Type=Application
NoDisplay=false
Terminal=false
Exec=/home/flekgekei/osu!/osu.AppImage
Icon=/home/flekgekei/osu!/osu.png
Name=osu!lazer
Comment=
Categories=Game;